body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

header {
    background-color: #CDE8E5;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    margin-bottom: 20px;
    font-size: 3em;
}

header p {
    font-size: 1.2em;
}

.btn {
    background-color: #7AB2B2;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4D869C;
}

section {
    padding: 60px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
}

.features-grid, .testimonials-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature, .testimonial {
    flex-basis: 30%;
    margin-bottom: 20px;
    background-color: #EEF7FF;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

